body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #17232E;
    color: #ffffff;
  }
  
  .reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #17232E;
  }
  
  .reset-password-card {
    background-color: #243545;
    border-radius: 15px;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  .logo-container {
    margin-bottom: 1rem;
  }
  
  .logo-container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the logo */
    align-items: center; /* Vertically center the logo */
    margin-bottom: 1rem;
  }
  
  .logo {
    max-width:80vw;
    width: 60vw; /* Adjust as needed for responsiveness */
    min-width: 20vw; /* Set a maximum size for larger screens */
    height: auto; /* Maintain aspect ratio */
  }
  .reset-password-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .reset-password-instructions {
    text-align: left;
    font-size: 0.9rem;
    color: #b0b8c1;
    margin-bottom: 1.5rem;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .password-input {
    color: #b0b8c1;
    background-color: #243545;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #b0b8c1;
    outline: none;
    font-size: 1rem;
    caret-color: #b0b8c1;
  }
  
  .password-input::placeholder {
    color: #b0b8c1;
  }
  
  .logout-other-devices {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #b0b8c1;
    margin-bottom: 1rem;
  }
  
  .logout-other-devices input {
    margin-right: 0.5rem;
  }
  
  .reset-password-button {
    padding: 0.75rem;
    background-color: #E0B772;
    color: #1a2238;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-button:hover {
    background-color: #E0B772;
  }
  
  .status-message {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #E0B772;
  }
  